@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/****** Classes ******/
@layer components{
    /****** Início Login ******/
    /* Estilização do fundo */
    .bg-login{
        @apply bg-gradient-to-r from-blue-950 to-blue-900 min-h-screen flex flex-col justify-center items-center;
    }

    /* Container principal do formulário */
    .card-login{
        @apply mt-6 w-full overflow-hidden bg-white px-6 py-4 shadow-md sm:max-w-md sm:rounded-lg;
    }

    /* Wrapper da logo */
    .logo-wrapper-login{
        @apply flex justify-center mb-4;
    }

    /* Estilização da logo */
    .logo-login{
        @apply h-26 w-44; 
    }

    /* Estilização do título */
    .title-login{
        @apply text-2xl font-bold text-center text-blue-500; 
    }

    /* Margem superior para os campos */
    .form-group-login{
        @apply mt-4; 
    }

    /* Estilização do label */
    .form-label-login{
        @apply block text-sm font-medium text-gray-700; 
    }

    /* Estilização do input */
    .form-input-login{
        @apply mt-1 block w-full rounded-md border-2 border-blue-100 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:outline-none px-3 py-2; 
    }

    /* Margem superior para o link e o botão */
    .btn-group-login{
        @apply mt-4 flex items-center justify-between; 
    }

    /* Link da página de login */
    .link-login{
        @apply text-base text-blue-600 hover:no-underline;
    }

    /* Estilização do botão */
    .btn-primary{
        @apply bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 py-2 rounded focus:outline-none cursor-pointer; 
    }
    /****** Fim Login ******/

    /****** Início Navbar ******/
     /* Estilização do fundo */
    .bg-dashboard{
        @apply bg-gray-100;
    }

    /* Navbar */
    .navbar{
        @apply bg-blue-900 border-b border-gray-200 px-4 py-2 sm:px-6 lg:px-8; 
    }

    /* Botão de menu mobile */
    .menu-button {
        @apply text-gray-50 sm:hidden cursor-pointer;
    }

    /* Container da Navbar */
    .navbar-container{
        @apply flex justify-end items-center;
    }

    /* Container do usuário */
    .user-container{
        @apply ml-auto flex items-center space-x-4; 
    }

    /* Dropdown */
    .dropdown-button{
        @apply bg-blue-900 px-3 py-2 text-sm text-gray-50 flex items-center cursor-pointer; 
    }

    /* Conteúdo do Dropdown */
    .dropdown-content{
        @apply absolute right-0 z-50 mt-2 rounded-md shadow-lg bg-white w-48; 
    }

    /* Item do Dropdown */
    .dropdown-item{
        @apply block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none;
    }

    /* Ícone do dropdown */
    .dropdown-icon {
        @apply ml-2 h-4 w-4;
    }
    /****** Fim Navbar ******/

    /****** Início Sidebar ******/
    .sidebar {
        @apply fixed inset-y-0 left-0 w-64 bg-white shadow-md transform -translate-x-full transition-transform duration-300 ease-in-out sm:translate-x-0;
    }

    .sidebar-open {
        @apply translate-x-0;
    }

    .sidebar-container {
        @apply bg-blue-950 relative h-full;
    }

    .sidebar-close-button {
        @apply absolute top-4 right-4 text-gray-50 sm:hidden cursor-pointer;
    }

    .sidebar-header {
        @apply w-full flex justify-center py-1 border-b-2 border-blue-900 space-x-2;
    }

    .sidebar-title {
        @apply text-lg font-bold text-blue-400;
    }

    .sidebar-nav {
        @apply mt-4;
    }

    .sidebar-link {
        @apply block px-4 py-2 text-sm text-gray-50 rounded hover:bg-blue-900;
    }
    /****** Fim Sidebar ******/

    /****** Início Conteúdo Principal ******/
    .main-content {
        @apply flex-1 p-4 ml-0 sm:ml-64;
    }

    .content-wrapper {
        @apply max-w-7xl mx-auto px-1 sm:px-0 lg:px-0 mb-2;
    }

    .content-header {
        @apply flex justify-between items-center;
    }

    .content-title {
        @apply text-2xl font-semibold text-blue-900; 
    }

    .breadcrumb {
        @apply text-sm text-gray-500;
    }

    .content-box {
        @apply bg-white shadow-2xl sm:rounded-lg text-gray-900 p-4; 
    }

    .content-box-header {
        @apply flex justify-between items-center border-b-2 border-gray-100 pb-2 mb-3; 
    }
    /****** Fim Conteúdo Principal ******/

    /****** Formulário ******/
    .form-label {
        @apply block text-sm font-semibold text-gray-700 mb-1;
    }

    .form-input {
        @apply w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm 
           focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 
           transition duration-150 ease-in-out text-sm text-gray-800 bg-white;
    }

    .form-select {
        @apply w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150 ease-in-out bg-white text-sm text-gray-800;
    }

   .form-textarea {
        @apply w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150 ease-in-out text-sm text-gray-800 bg-white;
    }
    /****** Fim Formulário ******/

    /****** Diversos ******/
    .info-field{
        @apply text-sm font-medium text-blue-500;
    }
}
